header {
      text-align: center;
      background: url('https://www.travelwyoming.com/sites/default/files/u5691/Grand%20Canyon%20of%20the%20Yellowstone.jpg');
      background-size: cover;
      color: white;
    }
    a {
      color: white;
      font-family: helvetica;
    }
    h1 {
      font-size: 70px;
      font-family: helvetica;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 20px;
      background: rgba(0,0,0,0.8);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width:500px;
      padding: 20px;
      margin: 0 auto;
      font-family: helvetica;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      }
    }